.tile {
  --happy-jump: 55%;
  @apply relative flex justify-center items-center rounded-lg text-primary-foreground bg-primary font-bold select-none w-16 h-16 backdrop-blur-xl text-4xl uppercase;

  &-small {
    @apply w-12 h-12 text-2xl;
  }

  &-active {
    @apply border-primary border-4 bg-transparent;
  }

  &-absent {
    --color: var(--tile-absent);
    @apply bg-absent border-absent;
  }

  &-correct {
    --color: var(--tile-correct);
    @apply bg-correct border-correct;

    &.inverted {
      --color: var(--tile-correct-contrast);
      @apply bg-correct-contrast border-correct-contrast;
    }
  }

  &-present {
    --color: var(--tile-present);
    @apply bg-present border-present;

    &.inverted {
      --color: var(--tile-correct-contrast);
      @apply bg-present-contrast border-present-contrast;
    }
  }

  &-scale {
    animation: keyboard 0.45s linear;
  }

  &-shake {
    animation: rownope 0.75s ease-in-out 0s 1 normal none running;
  }

  &-right {
    animation: happy 0.3s ease-out 0s 1 normal none running;
  }

  &-reveal {
    animation: flip-letter 0.45s linear backwards;

    > .letter {
      animation: flip 0.45s linear backwards;
    }
  }
}

@keyframes rownope {
  10% {
    transform: translateX(-14px);
  }
  20% {
    transform: translateX(14px);
  }
  30% {
    transform: translateX(-8px);
  }
  40% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes happy {
  10% {
    transform: translateY(calc(var(--happy-jump) * -0.3));
  }
  20% {
    transform: translateY(calc(var(--happy-jump) * -0.58));
  }
  30% {
    transform: translateY(calc(var(--happy-jump) * -0.8));
  }
  40% {
    transform: translateY(calc(var(--happy-jump) * -0.95));
  }
  50% {
    transform: translateY(calc(var(--happy-jump) * -1));
  }
  60% {
    transform: translateY(calc(var(--happy-jump) * -0.95));
  }
  70% {
    transform: translateY(calc(var(--happy-jump) * -0.8));
  }
  80% {
    transform: translateY(calc(var(--happy-jump) * -0.58));
  }
  90% {
    transform: translateY(calc(var(--happy-jump) * -0.3));
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes flip {
  0% {
    transform: perspective(200px) rotateY(0deg);
  }
  49.99999% {
    transform: perspective(200px) rotateY(90deg);
    background-color: var(--color);
  }
  50% {
    transform: perspective(200px) rotateY(-90deg);
    background-color: var(--color);
  }
  50.00001% {
    background-color: var(--color);
  }
  100% {
    transform: perspective(200px) rotateY(0deg);
    background-color: var(--color);
  }
}

@keyframes type {
  0% {
    transform: perspective(200px) translateZ(0);
    color: transparent;
  }

  24.99999% {
    color: transparent;
  }

  25% {
    transform: perspective(200px) translateZ(30px);
    color: #fafaff;
  }

  100% {
    transform: perspective(200px) translateZ(0);
    color: #fafaff;
  }
}

@keyframes flip-letter {
  0% {
    background-color: transparent;
    transform: perspective(200px) rotateY(-0deg);
  }
  50% {
    background-color: transparent;
    transform: perspective(200px) rotateY(-90deg);
  }
  100% {
    transform: perspective(200px) rotateY(-0deg);
  }
}

@keyframes keyboard {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}