@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 232 75% 88%;
  --foreground: 0 0% 10%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;

  --primary: 282 7% 52%;
  --primary-foreground: 0 0% 20%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 0 0% 20%;

  --muted: 274 44% 112%;
  --muted-foreground: 0 0% 20%;

  --accent: 262 66% 65%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 221, 83%, 5%, 0.82;
  --input: 0 0% 20%;
  --ring: 240 10% 3.9%;

  --radius: 0.5rem;

  --tile-present: 38.49deg 54.64% 61.96%;
  --tile-present-contrast: 188.74deg 94.5% 42.75%;

  --tile-correct: 171.43deg 47.51% 43.33%;
  --tile-correct-contrast: 24.58deg 94.98% 53.14%;

  --tile-absent: 262 66% 65%;
  --tile-absent-contrast: 196.61deg 83.58% 26.27%;
}

.dark {
  --background: 221, 83%, 5%;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 221, 18%, 38%, 0.729;
  --primary-foreground: 240 5.9% 90%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --accent: 240 29.7% 43.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 221.05deg 34.96% 56.13%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;

  --radius: 0.5rem;

  --tile-present: 38.49deg 54.64% 61.96%;
  --tile-present-contrast: 188.74deg 94.5% 42.75%;

  --tile-correct: 171.43deg 47.51% 43.33%;
  --tile-correct-contrast: 24.58deg 94.98% 53.14%;

  --tile-absent: 196.61deg 83.58% 26.27%;
  --tile-absent-contrast: 196.61deg 83.58% 26.27%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply h-screen flex flex-col items-center select-none bg-background text-foreground;
    font-family: var(--font-montserrat);
  }

  .loading {
    @apply text-accent;
  }
}
