.key {
  @apply flex justify-center items-center uppercase font-extrabold select-none focus:outline-none;

  &.space {
    grid-column: span 2 / 4;
  }

  &-absent {
    --color: var(--tile-absent);
    @apply bg-absent border-absent;
  }
  
  &-correct {
    --color: var(--tile-correct);
    @apply bg-correct border-correct;

    &.inverted {
      --color: var(--tile-correct-contrast);
      @apply bg-correct-contrast border-correct-contrast;
    }
  }

  &-present {
    --color: var(--tile-present);
    @apply bg-present border-present;

    &.inverted {
      --color: var(--tile-correct-contrast);
      @apply bg-present-contrast border-present-contrast;
    }
  }
}
